{% extends "base.html" %}
{% from "partials/presentation_card.html" import render_presentation_card  %}

{% block title %}전체 프레젠테이션{% endblock %}
{% block header_title %}전체 프레젠테이션{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/presentation.css') }}">
{% endblock %}


{% block content %}
<div>
    
    <div class="d-flex flex-wrap gap-3">
        {% for presentation in presentations %}
            {% render_presentation_card(presentation)%}
        {% endfor %}
    </div>
    
    <nav aria-label="page nav showing all pages link">
        <ul class="pagination">
            {% for page_idx in range(1, total_pages) %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('getAllPresentations', page=page_idx)}}" >{{page_idx}}</a>
            </li>
            {%endfor%}
        </ul>
    </nav>
</div>
{% endblock %}
