{% extends "base.html" %}
{% import "partials/_icons.html" as icon %}
{% import "partials/_comment_item.html" as comment %}
{% from "partials/presentation_card.html" import render_presentation_card %}

{% block title %}{{ presentation.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
{% endblock %}

{% block header_left %}

{% endblock %}

{% block header_actions %}
{# TODO: 공유 기능 구현 후 연결 #}
<button type="button" class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-2 flex-shrink-0">
    {{ icon.share(14) }} 공유
</button>
{% endblock %}

{% block main_class %}{# cotent의 클래스. hidden 같은 제어 위해?#}{% endblock %}

{% block content %}
{# 슬라이드 블록#}
    <div >
    {% for slide in slides %}
        <div>
            {{(slide) }}
        </div>
    {% endfor %}
    </div>
    
{# 댓글 블록#}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/comment.js') }}">
    
</script>
<script>
    let slides = {{ slides | tojson}};
    {# 
    # slides =[ {
    #     "_id" : string,
    #     "presentation_oid" : string,
    #     "img_src" : string,
    #     "idx" : int,
    #     "comments_count" : int
    # } ]
    #}

    

</script>

{% endblock %}
